<h1><%= pageTitle %></h1>
<% console.log("Inside List.ejs File") %>
<a href="/cars/new">Add New Car</a>
<% for (let index = 1; index <= totalPages; index++) { %>
    <li><a href="/cars/<%= index %>"><%= index %></a></li>
<% } %>
<table style="width: 100%;" border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Description</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (let index = 0; index < cars.length; index++) { %>
            <tr>
                <td><%= cars[index]._id %></td>
                <td><%= cars[index].make %></td>
                <td><%= cars[index].model %></td>
                <td><%= cars[index].year %></td>
                <td><%= cars[index].price %></td>
                <td><%= cars[index].description %></td>
                <td><%= cars[index].color %></td>
                <td>
                    <a href="/cars/add-to-cart/<%= cars[index]._id %>">Add to Cart</a>
                    <a href="/cars/delete/<%= cars[index]._id %>">Del</a>
                    <a href="/cars/edit/<%= cars[index]._id %>">Edit</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
