<form action="" method="post">
    Make: <input type="text" name="make" value="<%= car ? car.make : '' %>"/> <br/>
    Model: <input type="text" name="model" value="<%= car ? car.model : '' %>"/> <br/>
    Year: <input type="number" name="year" value="<%= car ? car.year : '' %>"/> <br/>
    Price: <input type="number" name="price" value="<%= car ? car.price : '' %>"/> <br/>
    Description: <textarea name="description"><%= car ? car.description : '' %></textarea> <br/>
    Color: <input type="text" name="color" value="<%= car ? car.color : '' %>"/> <br/>
    Image URL: <input type="text" name="images[0].url" value="<%= car && car.images[0] ? car.images[0].url : '' %>" placeholder="Image URL"/> <br/>
    Image Description: <input type="text" name="images[0].description" value="<%= car && car.images[0] ? car.images[0].description : '' %>" placeholder="Image Description"/> <br/>
    <!-- Add more image fields if necessary -->
    <input type="submit" value="Save Car" /> <br/>
</form>
